<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body ng-app="miApp">
    <div class="" ng-controller="miController">
        <h3>bindings</h3>
        <p>Name: <input type="text" ng-model="name"></p>
        <p ng-bind="name"></p>
        <p>{$ name $}</p>

        <p ng-init="firstName='jhon'">{$ firstName + ' ' + lastName $}</p>
        <input style="background-color:#{$ myCol $}" ng-model="myCol" value="{$ myCol $}">
        <h3>Repeat</h3>
        <ul>
            <li ng-repeat="x in list">
                <label for="">{$ x $} <a href="#" ng-click="remove($index,x)">remove</a></label>
            </li>
            <li>
                <button type="button" name="button" ng-click="add()">add</button>
            </li>
            <li>
                <button type="button" name="button" ng-click="load_data()">load from http</button>
            </li>
        </ul>

    </div>

    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'angular.min.js' %}"></script>
    <script src="{% static 'home.js' %}"></script>

</body>

</html>
